/* 폰트 */
@font-face {
    font-family: 'paybooc-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html>body, html>body .toastui-editor-contents, html>body .ProseMirror,
  html>body .toastui-editor-md-code, html>body .toastui-editor-md-code-block
  {
  font-family: 'paybooc-Bold', sans-serif;
  text-underline-position: under;
}

